@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --Blue: hsl(246, 80%, 60%);

  /* card colors */
  --Light-red: hsl(15, 100%, 70%); /* work */
  --Soft-blue: hsl(195, 74%, 62%); /* play */
  --Light-red: hsl(348, 100%, 68%); /* study */
  --Lime-green: hsl(145, 58%, 55%); /* exercise */
  --Violet: hsl(264, 64%, 52%); /* social */
  --Soft-orange: hsl(43, 84%, 65%); /* self care */

/* neutrel colors */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  /* font weights */
  --fw-lighter: 300;
  --fw-regular: 400;
  --fw-bolder: 500;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Rubik", sans-serif;
    background-color: var(--Very-dark-blue);
    color: white;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #profile-picture{
    width: 60px;
  }

  .cards-container{
    padding: 50px 20px;
    display: grid;
    gap: 1.5em;
  }

  .top,
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .person-info{
    display: flex;
    align-items: center;
    gap: 3em;
  }

  h2{
    display: flex;
    flex-direction: column;
    line-height: 1em;
  }

  #work-card,
  #play-card,
  #study-card,
  #exercise-card,
  #social-card,
  #self_care-card{
    background-color: var(--Dark-blue);
    padding: 20px;
    border-radius: 15px;
  }

  #button-options{
    background-color: var(--Dark-blue);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  button{
    border: none;
    background-color: var(--Dark-blue);
  }

  .person-info{
    background-color: var(--Blue);
  }