@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --Blue: hsl(246, 80%, 60%);

  /* card colors */
  --Light-red: hsl(15, 100%, 70%); /* work */
  --Soft-blue: hsl(195, 74%, 62%); /* play */
  --dark-red: hsl(348, 100%, 68%); /* study */
  --Lime-green: hsl(145, 58%, 55%); /* exercise */
  --Violet: hsl(264, 64%, 52%); /* social */
  --Soft-orange: hsl(43, 84%, 65%); /* self care */

/* neutrel colors */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  /* font weights */
  --fw-lighter: 300;
  --fw-regular: 400;
  --fw-bolder: 500;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Rubik", sans-serif;
    background-color: var(--Very-dark-blue);
    color: whitesmoke;
    font-size: 18px;
    font-weight: 300;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #profile-picture{
    width: 60px;
  }

  .cards-container{
    padding: 50px 20px;
    display: grid;
    gap: 1.5em;
  }

  .top,
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .person-info{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 25px;
  }

  h2{
    display: flex;
    flex-direction: column;
    line-height: 1em;
    font-size: 18px;
    color: var(--Desaturated-blue);
    font-weight: var(--fw-regular);
  }

  #work-card .card-content,
  #play-card .card-content,
  #study-card .card-content,
  #exercise-card .card-content,
  #social-card .card-content,
  #self_care-card .card-content{
    background-color: var(--Dark-blue);
    padding: 15px;
    border-radius: 15px;
  }

  #button-options{
    background-color: var(--Dark-blue);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  button{
    border: none;
    background-color: var(--Dark-blue);
    color: var(--Pale-Blue);
    font-size: 1rem;
  }

  .person-info{
    background-color: var(--Blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .name{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: var(--fw-bolder);
  }

  .current-year{
    font-size: 2rem;
  }

.title{
  font-weight: 500;
}

.previous-year{
  color: var(--Pale-Blue);
  font-size: 1rem;
}

#profile-picture{
  border: 2px solid white;
  border-radius: 50%;
}

.card-header {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card-header img {
  width: 40px;
  height: 40px;
}

.card-content{
  margin-top: -0.3rem;
}


#work-card .card-header{
  background-color: var(--Light-red);
}

#play-card .card-header{
  background-color: var(--Soft-blue);
}

#study-card .card-header{
  background-color: var(--dark-red);
}

#exercise-card .card-header{
  background-color: var(--Lime-green);
}

#social-card .card-header{
  background-color: var(--Violet);
}

#self_care-card .card-header{
  background-color: var(--Soft-orange);
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .cards-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 70%;
  }

  #person-card {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .person-info{
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  .name{
    font-size: 2rem;
    line-height: 1.2em;
    margin-bottom: 1.8em;
  }

  .person-info{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #button-options{
    flex-direction: column;
    align-items: start;
    gap: 0.4em;
  }

  .bottom{
    flex-direction: column;
    align-items: start;
    margin-top: 1.5rem;
  }

  #work-card .card-content,
  #play-card .card-content,
  #study-card .card-content,
  #exercise-card .card-content,
  #social-card .card-content,
  #self_care-card .card-content{
    padding: 25px;
  }

  #profile-picture{
    width: 80px;
  }
}

